Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
*.umap
*.uasset
Content/Maps/FirstOpus.umap
Content/Maps/FirstOpus_BuiltData.uasset
Content/Maps/FirstOpus.umap
Content/Maps/FirstOpus_BuiltData.uasset
